  /* Global Styles */
  body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
  }

/* Load more button */
#loadMoreBtn {
  display: inline-block;
  padding: 0.75em 1.5em;
  font-size: 1rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #333;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-decoration: none;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out, box-shadow 0.3s ease;
  opacity: 1;
  }


  #loadMoreBtn:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  }

  /* FAQ Section */
.section {
    padding: 40px 20px;
  }
  
  /* Banner styles */
  .banner {
    width: 100%;
    overflow: hidden;
    max-height: 70vh;
  }
  
  .banner img {
    width: 100%;
    height: auto;
    display: block;
    background-size: cover;
  }
  
  /* Section description */
  .faq-description {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  @media (max-width: 767px) {
    .universalBanner .banner-content {
      /* Reduce padding if needed */
      padding: 10px;
    }
    .universalBanner h1 {
      font-size: 4rem; /* smaller than 4.5rem */
    }
    .universalBanner h2 {
      font-size: 2rem; /* smaller than 2.5rem */
    }
    .universalBanner p {
      font-size: 1rem; /* smaller than 1.5rem */
    }
  }
  